<div fxLayout="row" fxLayoutAlign="space-evenly start" fxLayout.xs="column" fxLayoutAlign.xs="space-around center">
    <h1> {{ registroVacunas?.registrovacunas[1].name }}</h1>
    <form [style.display]="createChecked?'block':'none'">
        <mat-form-field name="name">
            <input matInput placeholder="Nombre">
        </mat-form-field>

        <mat-form-field name="edad">
            <input matInput placeholder="Edad">
        </mat-form-field>
        <button mat-icon-button (click)="create()">
            <mat-icon>save</mat-icon>
        </button>
    </form>
</div>
<div fxLayout="row" fxLayoutAlign="space-evenly start" fxLayout.xs="column" fxLayoutAlign.xs="space-around center">
    <form fxFlex [style.display]="(registroVacunas?.registrovacunas[1].user.numChildren != 0)?'block':'none'">
        <div class="center" fxFlex="50%" fxFlex.gt-sm="100%">
            <mat-form-field>
                    <mat-select placeholder="Edad" [formControl]="edadControl" required>
                        <mat-option *ngFor="let registrovacunas of registroVacunas?.registrovacunas" [value]="registrovacunas">
                            {{ registrovacunas.edad }}
                        </mat-option>
                    </mat-select>
                <mat-error *ngIf="edadControl.hasError('required')">Elige edad</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly start" fxLayout.xs="column" fxLayoutAlign.xs="space-around center">
            <table *ngIf="edadControl.value.vacuna1 != undefined" style="list-style-type:none">
                <tr *ngIf="edadControl?.value.vacuna1 != ''">
                    <td>
                        <mat-checkbox name="vacuna1" [(ngModel)]="edadControl?.value.isVacunated1">
                            {{ edadControl?.value.vacuna1 }}
                        </mat-checkbox>

                        <mat-form-field>
                            <input matInput [matDatepicker]="date1" placeholder="Fecha" [value]="edadControl?.value.dateVacuna1">
                            <mat-datepicker-toggle matSuffix [for]="date1"></mat-datepicker-toggle>
                            <mat-datepicker #date1></mat-datepicker>
                        </mat-form-field>
                        <button mat-icon-button (click)="prepareUpdate(1, edadControl.value.age)">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <div fxLayout="column" fxFlex [style.display]="updateChecked[1]?'block':'none'">
                            <span>
                                <mat-checkbox name="isVacunated1" [(ngModel)]="updateRegistroVacunas.isVacunated1">
                                    {{ edadControl?.value.vacuna1 }}
                                </mat-checkbox>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="date1update" name="date1update" placeholder="Fecha1" [(ngModel)]="updateRegistroVacunas.dateVacuna1">
                                    <mat-datepicker-toggle matSuffix [for]="date1update"></mat-datepicker-toggle>
                                    <mat-datepicker #date1update></mat-datepicker>
                                </mat-form-field>

                                <button mat-icon-button (click)="save(1)">
                                    <mat-icon>save</mat-icon>
                                </button>
                            </span>
                            <span class="cancel">
                                <button mat-icon-button type="submit" (click)="cancel(1)">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </span>
                        </div>
                    </td>
                </tr>

                <tr *ngIf="edadControl?.value.vacuna2 != ''">
                    <td>
                        <mat-checkbox name="vacuna2" [(ngModel)]="edadControl?.value.isVacunated2">
                            {{ edadControl?.value.vacuna2 }}
                        </mat-checkbox>

                        <mat-form-field>
                            <input matInput [matDatepicker]="date2" placeholder="Fecha" [value]="edadControl?.value.dateVacuna2">
                            <mat-datepicker-toggle matSuffix [for]="date2"></mat-datepicker-toggle>
                            <mat-datepicker #date2></mat-datepicker>
                        </mat-form-field>
                        <button mat-icon-button (click)="prepareUpdate(2, edadControl.value.age)">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <div fxLayout="column" fxFlex [style.display]="updateChecked[2]?'block':'none'">
                            <span>
                                <mat-checkbox name="isVacunated2" [(ngModel)]="updateRegistroVacunas.isVacunated2">
                                    {{ edadControl?.value.vacuna2 }}
                                </mat-checkbox>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="date2update" name="date2update" placeholder="Fecha2" [(ngModel)]="updateRegistroVacunas.dateVacuna2">
                                    <mat-datepicker-toggle matSuffix [for]="date2update"></mat-datepicker-toggle>
                                    <mat-datepicker #date2update></mat-datepicker>
                                </mat-form-field>

                                <button mat-icon-button (click)="save(2)">
                                    <mat-icon>save</mat-icon>
                                </button>
                            </span>
                            <span class="cancel">
                                <button mat-icon-button type="submit" (click)="cancel(2)">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="edadControl?.value.vacuna3 != ''">
                    <td>
                        <mat-checkbox name="vacuna3" [(ngModel)]="edadControl?.value.isVacunated3">
                            {{ edadControl?.value.vacuna3 }}
                        </mat-checkbox>

                        <mat-form-field>
                            <input matInput [matDatepicker]="date3" placeholder="Fecha" [value]="edadControl?.value.dateVacuna3">
                            <mat-datepicker-toggle matSuffix [for]="date3"></mat-datepicker-toggle>
                            <mat-datepicker #date3></mat-datepicker>
                        </mat-form-field>
                        <button mat-icon-button (click)="prepareUpdate(3, edadControl.value.age)">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <div fxLayout="column" fxFlex [style.display]="updateChecked[3]?'block':'none'">
                            <span>
                                <mat-checkbox name="isVacunated3" [(ngModel)]="updateRegistroVacunas.isVacunated3">
                                    {{ edadControl?.value.vacuna3 }}
                                </mat-checkbox>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="date3update" name="date3update" placeholder="Fecha3" [(ngModel)]="updateRegistroVacunas.dateVacuna3">
                                    <mat-datepicker-toggle matSuffix [for]="date3update"></mat-datepicker-toggle>
                                    <mat-datepicker #date3update></mat-datepicker>
                                </mat-form-field>

                                <button mat-icon-button (click)="save(3)">
                                    <mat-icon>save</mat-icon>
                                </button>
                            </span>
                            <span class="cancel">
                                <button mat-icon-button type="submit" (click)="cancel(3)">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </span>
                        </div>
                    </td>
                </tr>

                <tr *ngIf="edadControl?.value.vacuna4 != ''">
                    <td>
                        <mat-checkbox name="vacuna4" [(ngModel)]="edadControl?.value.isVacunated4">
                            {{ edadControl?.value.vacuna4 }}
                        </mat-checkbox>

                        <mat-form-field>
                            <input matInput [matDatepicker]="date4" placeholder="Fecha" [value]="edadControl?.value.dateVacuna4">
                            <mat-datepicker-toggle matSuffix [for]="date4"></mat-datepicker-toggle>
                            <mat-datepicker #date4></mat-datepicker>
                        </mat-form-field>
                        <button mat-icon-button (click)="prepareUpdate(4, edadControl.value.age)">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <div fxLayout="column" fxFlex [style.display]="updateChecked[4]?'block':'none'">
                            <span>
                                <mat-checkbox name="isVacunated4" [(ngModel)]="updateRegistroVacunas.isVacunated4">
                                    {{ edadControl?.value.vacuna4 }}
                                </mat-checkbox>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="date4update" name="date4update" placeholder="Fecha4" [(ngModel)]="updateRegistroVacunas.dateVacuna4">
                                    <mat-datepicker-toggle matSuffix [for]="date4update"></mat-datepicker-toggle>
                                    <mat-datepicker #date4update></mat-datepicker>
                                </mat-form-field>

                                <button mat-icon-button (click)="save(4)">
                                    <mat-icon>save</mat-icon>
                                </button>
                            </span>
                            <span class="cancel">
                                <button mat-icon-button type="submit" (click)="cancel(4)">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="edadControl?.value.vacuna5 != ''">
                    <td>
                        <mat-checkbox name="vacuna5" [(ngModel)]="edadControl?.value.isVacunated5">
                            {{ edadControl?.value.vacuna5 }}
                        </mat-checkbox>

                        <mat-form-field>
                            <input matInput [matDatepicker]="date5" placeholder="Fecha" [value]="edadControl?.value.dateVacuna5">
                            <mat-datepicker-toggle matSuffix [for]="date5"></mat-datepicker-toggle>
                            <mat-datepicker #date5></mat-datepicker>
                        </mat-form-field>
                        <button mat-icon-button (click)="prepareUpdate(5, edadControl.value.age)">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <div fxLayout="column" fxFlex [style.display]="updateChecked[5]?'block':'none'">
                            <span>
                                <mat-checkbox name="isVacunated5" [(ngModel)]="updateRegistroVacunas.isVacunated5">
                                    {{ edadControl?.value.vacuna5 }}
                                </mat-checkbox>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="date5update" name="date5update" placeholder="Fecha5" [(ngModel)]="updateRegistroVacunas.dateVacuna5">
                                    <mat-datepicker-toggle matSuffix [for]="date5update"></mat-datepicker-toggle>
                                    <mat-datepicker #date5update></mat-datepicker>
                                </mat-form-field>

                                <button mat-icon-button (click)="save(5)">
                                    <mat-icon>save</mat-icon>
                                </button>
                            </span>
                            <span class="cancel">
                                <button mat-icon-button type="submit" (click)="cancel(5)">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="edadControl?.value.vacuna6 != ''">
                    <td>
                        <mat-checkbox name="vacuna6" [(ngModel)]="edadControl?.value.isVacunated6">
                            {{ edadControl?.value.vacuna6 }}
                        </mat-checkbox>

                        <mat-form-field>
                            <input matInput [matDatepicker]="date6" placeholder="Fecha" [value]="edadControl?.value.dateVacuna6">
                            <mat-datepicker-toggle matSuffix [for]="date6"></mat-datepicker-toggle>
                            <mat-datepicker #date6></mat-datepicker>
                        </mat-form-field>
                        <button mat-icon-button (click)="prepareUpdate(6, edadControl.value.age)">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <div fxLayout="column" fxFlex [style.display]="updateChecked[6]?'block':'none'">
                            <span>
                                <mat-checkbox name="isVacunated6" [(ngModel)]="updateRegistroVacunas.isVacunated6">
                                    {{ edadControl?.value.vacuna6 }}
                                </mat-checkbox>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="date6update" name="date5update" placeholder="Fecha6" [(ngModel)]="updateRegistroVacunas.dateVacuna6">
                                    <mat-datepicker-toggle matSuffix [for]="date6update"></mat-datepicker-toggle>
                                    <mat-datepicker #date6update></mat-datepicker>
                                </mat-form-field>

                                <button mat-icon-button (click)="save(6)">
                                    <mat-icon>save</mat-icon>
                                </button>
                            </span>
                            <span class="cancel">
                                <button mat-icon-button type="submit" (click)="cancel(6)">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>