<div class="containerLogin">
    <h2>Login</h2>
    <mat-form-field>
        <label for="username">Username</label>
        <input matInput name="username" [(ngModel)]="user.username" #username="ngModel" required/>
    </mat-form-field>

    <mat-form-field>
        <label for="password">Password</label>
        <input matInput type="password" name="password" [(ngModel)]="user.password" #password="ngModel" />
    </mat-form-field>
    <div class="button-row">
        <button mat-raised-button color="accent" (click)="login()" [disabled]="user.username === '' || user.password === ''">
            Login
        </button>
        <button mat-raised-button color="accent" (click)="register()">
            Register
        </button>
    </div>
</div>