<h2>Users API</h2>
<h4 *ngIf="users != undefined && users.length == 0"> Lista vacía!!!</h4>

<div fxLayout="column" fxFlex>
    <mat-card-title>{{ add }}</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="string" name="username" [(ngModel)]="creationUsers.username" placeholder="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="string" name="firstName" [(ngModel)]="creationUsers.firstName"  placeholder="firstName">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="string" name="lastName" [(ngModel)]="creationUsers.lastName"  placeholder="lastName">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" name="password" [(ngModel)]="creationUsers.password"  placeholder="password">
      </mat-form-field>
      <span class="add">
        <button mat-fab (click)="create()">
          <mat-icon>add</mat-icon>
        </button>
      </span>
    </mat-card-content>
  </div>

<mat-table [dataSource]="users?.users">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let users"> {{ users.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef> username </mat-header-cell>
        <mat-cell *matCellDef="let users"> {{ users.username }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> firstName </mat-header-cell>
        <mat-cell *matCellDef="let users"> {{ users.firstName }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> lastName </mat-header-cell>
        <mat-cell *matCellDef="let users"> {{ users.lastName }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>