<div class="container">
  <div fxLayout.md="row" fxLayoutAlign="space-evenly start" fxLayout.xs="column" fxLayoutAlign.xs="space-around center">
    <h2 class="title">Historial de vacunas</h2>
  </div>
  <div fxLayout.md="row" fxLayoutAlign="space-evenly start" fxLayout.xs="column" fxLayoutAlign.xs="space-around center">
    <div class="center">
      <img src="../../assets/images/babyBoySmall.png" alt="babyBoy">
      <app-apiregistrovacunas></app-apiregistrovacunas>
    </div>
    <div class="center">
      <app-calendar></app-calendar>
    </div>
  </div>
</div>