.center {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25%;
  }
  .title{
    font-family: "Roboto", sans-serif !important;
    font-size: 2rem !important;
    color: #009688;
    line-height: 110% !important;
    margin: 2.3733333333rem 0 1.424rem 0 !important;
  }