<h2>Vacunas API</h2>
<h4 *ngIf="vacunauser != undefined && vacunauser.length == 0"> Lista vacía!!!</h4>

<h3>{{ vacunauser?.vacunas[0].name }}</h3>

<mat-table [dataSource]="vacunauser?.vacunas">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let vacunauser"> {{ vacunauser.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="twoMonths">
        <mat-header-cell *matHeaderCellDef> 2 Meses </mat-header-cell>
        <mat-cell *matCellDef="let vacunauser">
            <div *ngIf="vacunauser.name == 'Poliomelitis'">
                <mat-checkbox>
                    {{ vacunauser.twoMonths }}
                </mat-checkbox>
            </div>
            <div *ngIf="vacunauser.name == 'Difteria-Tétanos-Pertussis'">
                <mat-checkbox>
                    {{ vacunauser.twoMonths }}
                </mat-checkbox>
            </div>
            <div *ngIf="vacunauser.name == 'Haemophilus in?uenzae b'">
                <mat-checkbox>
                    {{ vacunauser.twoMonths }}
                </mat-checkbox>
            </div>
            <div *ngIf="vacunauser.name == 'Hepatitis BA'">
                <mat-checkbox>
                    {{ vacunauser.twoMonths }}
                </mat-checkbox>
            </div>
            <div *ngIf="vacunauser.name == 'Neumocócica conjugada 13V'">
                <mat-checkbox>
                    {{ vacunauser.twoMonths }}
                </mat-checkbox>
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fourMonths">
        <mat-header-cell *matHeaderCellDef> 4 Meses </mat-header-cell>
        <mat-cell *matCellDef="let vacunauser">
            <div *ngIf="vacunauser.name == 'Poliomelitis'">
                <mat-checkbox>
                    {{ vacunauser.fourMonths }}
                </mat-checkbox>
            </div>
            <div *ngIf="vacunauser.name == 'Difteria-Tétanos-Pertussis'">
                <mat-checkbox>
                    {{ vacunauser.fourMonths }}
                </mat-checkbox>
            </div>
            <div *ngIf="vacunauser.name == 'Haemophilus in?uenzae b'">
                <mat-checkbox>
                    {{ vacunauser.fourMonths }}
                </mat-checkbox>
            </div>
            <div *ngIf="vacunauser.name == 'Hepatitis BA'">
                <mat-checkbox>
                    {{ vacunauser.fourMonths }}
                </mat-checkbox>
            </div>
            <div *ngIf="vacunauser.name == 'Neumocócica conjugada 13V'">
                <mat-checkbox>
                    {{ vacunauser.fourMonths }}
                </mat-checkbox>
            </div>
            <div *ngIf="vacunauser.name == 'Meningococo C'">
                <mat-checkbox>
                    {{ vacunauser.fourMonths }}
                </mat-checkbox>
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="elevenMonths">
        <mat-header-cell *matHeaderCellDef> 11 Meses </mat-header-cell>
        <mat-cell *matCellDef="let vacunauser">
            <div *ngIf="vacunauser.name == 'Poliomelitis'">
                <mat-checkbox>
                    {{ vacunauser.elevenMonths }}
                </mat-checkbox>
            </div>
            <div *ngIf="vacunauser.name == 'Difteria-Tétanos-Pertussis'">
                <mat-checkbox>
                    {{ vacunauser.elevenMonths }}
                </mat-checkbox>
            </div>
            <div *ngIf="vacunauser.name == 'Haemophilus in?uenzae b'">
                <mat-checkbox>
                    {{ vacunauser.elevenMonths }}
                </mat-checkbox>
            </div>
            <div *ngIf="vacunauser.name == 'Hepatitis BA'">
                <mat-checkbox>
                    {{ vacunauser.elevenMonths }}
                </mat-checkbox>
            </div>
            <div *ngIf="vacunauser.name == 'Neumocócica conjugada 13V'">
                <mat-checkbox>
                    {{ vacunauser.elevenMonths }}
                </mat-checkbox>
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="twelveMonths">
        <mat-header-cell *matHeaderCellDef> 12 Meses </mat-header-cell>
        <mat-cell *matCellDef="let vacunauser">
            <div *ngIf="vacunauser.name == 'Sarampión-Rubeola-Parotiditis'">
                <mat-checkbox>
                    {{ vacunauser.twelveMonths }}
                </mat-checkbox>
            </div>
            <div *ngIf="vacunauser.name == 'Meningococo C'">
                <mat-checkbox>
                    {{ vacunauser.twelveMonths }}
                </mat-checkbox>
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fiveteenMonths">
        <mat-header-cell *matHeaderCellDef> 15 Meses </mat-header-cell>
        <mat-cell *matCellDef="let vacunauser">
            <div *ngIf="vacunauser.name == 'Varicela'">
                <mat-checkbox>
                    {{ vacunauser.fifteenMonths }}
                </mat-checkbox>
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fourYears">
        <mat-header-cell *matHeaderCellDef> 4 Años </mat-header-cell>
        <mat-cell *matCellDef="let vacunauser">
            <div *ngIf="vacunauser.name == 'Sarampión-Rubeola-Parotiditis'">
                <mat-checkbox>
                    {{ vacunauser.fourYears }}
                </mat-checkbox>
            </div>
            <div *ngIf="vacunauser.name == 'Varicela'">
                <mat-checkbox>
                    {{ vacunauser.fourYears }}
                </mat-checkbox>
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sixYears">
        <mat-header-cell *matHeaderCellDef> 6 Años </mat-header-cell>
        <mat-cell *matCellDef="let vacunauser">
            <div *ngIf="vacunauser.name == 'Difteria-Tétanos-Pertussis'">
                <mat-checkbox>
                    {{ vacunauser.sixYears }}
                </mat-checkbox>
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="twelveYears">
        <mat-header-cell *matHeaderCellDef> 12 Años </mat-header-cell>
        <mat-cell *matCellDef="let vacunauser">
            <div *ngIf="vacunauser.name == 'Meningococo C'">
                <mat-checkbox>
                    {{ vacunauser.twelveYears }}
                </mat-checkbox>
            </div>
            <div *ngIf="vacunauser.name == 'Varicela'">
                <mat-checkbox>
                    {{ vacunauser.twelveYears }}
                </mat-checkbox>
            </div>
            <div *ngIf="vacunauser.name == 'Virus del Papiloma Humano'">
                <mat-checkbox>
                    {{ vacunauser.twelveYears }}
                </mat-checkbox>
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fourteenYears">
        <mat-header-cell *matHeaderCellDef> 14 Años </mat-header-cell>
        <mat-cell *matCellDef="let vacunauser">
            <div *ngIf="vacunauser.name == 'Difteria-Tétanos-Pertussis'">
                <mat-checkbox>
                    {{ vacunauser.fourteenYears }}
                </mat-checkbox>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>