<div fxLayout="row" fxLayoutAlign="space-evenly start" fxLayout.xs="column" fxLayoutAlign.xs="space-around center">
    <div class="title">
        <h2>
            Bienvenido a tu calendario de vacunación
        </h2>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-evenly start" fxLayout.xs="column" fxLayoutAlign.xs="space-around center">
    <div class="center" fxFlex="50%" fxFlex.gt-sm="100%">
        <a routerLink="../children" style="text-decoration:none">
            <mat-icon color="accent" class="material-icons md-48">history</mat-icon>
        </a>
        <h2>
            Ver historial
        </h2>
        <span>
            Aquí puedes ver el historial de vacunas de tus hijos.
        </span>
    </div>
    <div class="center" fxFlex="50%" fxFlex.gt-sm="100%">
        <a routerLink="../apivacunas" style="text-decoration:none">
            <mat-icon color="accent" class="material-icons md-48">date_range</mat-icon>
        </a>
        <h2>
            Ver vacunas
        </h2>
        <span>
            Aquí podrás ver las vacunas indicadas por la Comunidad de Madrid. El Calendario de Vacunación Infantil 2018 va dirigido a
            los niño/as nacidos a partir del 1 de julio de 2016 a quienes desde enero de 2017 se les aplicó el nuevo calendario.
        </span>
    </div>
    <div class="center" fxFlex="50%" fxFlex.gt-sm="100%">



        <a href="http://www.madrid.org/cs/Satellite?cid=1142652304545&language=es&pagename=PortalSalud%2FPage%2FPTSA_servicioPrincipal&vest=1142652304545"
            target="_blank" style="text-decoration:none">
            <mat-icon color="accent" class="material-icons md-48">local_hospital</mat-icon>
        </a>

        <h2>
            Pedir cita
        </h2>
        <span>
            Ir a la web del Portal de Salud de la Comunidad de Madrid para solicitar una cita.
        </span>
    </div>
</div>