$dayBase: 30px;
$concrete: #e1e5ed;
$seafoam: #cce6ff;
$white: white;
$teal: rgb(7, 12, 7);
$light-blue-grey: #0f4577;


.week-date {
  padding: 5pt;
  display: flex;
  align-items: center;
  justify-content: center;
  .date-text {
    z-index: 10;
    color: #21874b;
  }

  &::after {
    content: "";
    height: $dayBase * 0.9;
    width: $dayBase * 0.9;
    position: absolute;
    border-radius: 50%;
    transition: background-color 150ms linear, color 150ms linear;
    z-index: 1;
  }

  &.enabled {
    cursor: pointer;
    &:hover {
      &:after {
        background-color: $seafoam;
      }
    }
  }
  &.selected {
    color: $white;
    &:after {
      background-color: $teal;
    }
    &:hover {
      &:after {
        background-color: $teal;
      }
    }
  }
  &.disabled {
    color: $light-blue-grey;
  }
}
.today {
  font-weight: bold;
}
