<div class="container">
  <mat-card>
    <div fxLayout="column" fxFlex>
      <div fxLayout="row" fxLayoutAlign="center center">

        <button mat-icon-button (click)="prevMonth()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <span class="p4">{{ currentDate.format('MMMM') }}</span>
        <button mat-icon-button (click)="nextMonth()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button (click)="prevYear()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <span>{{ currentDate.format('YYYY') }}</span>
        <button mat-icon-button (click)="nextYear()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>

      <div fxLayout="column" fxFlex>
        <div fxLayout="row" fxLayoutAlign="begin center" >
          <div class="week-date" *ngFor="let name of dayNames" fxLayout="row" fxFlex="15">
            {{ name }}
          </div>
        </div>

        <div *ngFor="let week of weeks" fxLayout="row" fxLayoutAlign="begin center">
          <ng-container *ngFor="let day of week">
            <div class="week-date disabled" *ngIf="!isSelectedMonth(day.mDate)" fxFlex="15">
              <span class="date-text">{{ day.mDate.date() }}</span>
            </div>
            <div class="week-date enabled" *ngIf="isSelectedMonth(day.mDate)" (click)="selectDate(day)" [ngClass]="{ today: day.today, selected: day.selected }"
              fxFlex="15">
              <span class="date-text">{{ day.mDate.date() }}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </mat-card>
</div>